**/out/**
**/target/**
.idea/
*.swp
*.iml
**/Spike.java

AndroidWarrior/bin/
AndroidWarrior/.settings/
AndroidWarrior/.classpath
AndroidWarrior/.project
.metadata/

TestServer/.classpath
TestServer/.project
TestServer/.settings/org.eclipse.wst.common.component
TestServer/.settings/org.eclipse.wst.common.project.facet.core.xml

AndroidWarrior/gen/
AndroidWarrior/project.properties

raydotcom/.classpath
raydotcom/.project
raydotcom/.settings/org.eclipse.wst.common.component
raydotcom/.settings/org.eclipse.wst.common.project.facet.core.xml
